<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
           android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirmOrder"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersonalActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.commodity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisteredActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StoreCertificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ProductInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.InformationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".tdy.Detailedlist.tdy_daifukuan" android:screenOrientation="portrait"/>
        <activity android:name=".tdy.Detailedlist.tdy_yifukuan" android:screenOrientation="portrait"/>
        <activity android:name=".tdy.Detailedlist.tdy_yiwanchen" android:screenOrientation="portrait"/>
        <activity android:name=".activity.mylistActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ServiceCentre" android:screenOrientation="portrait"/>
        <activity android:name=".activity.messages" android:screenOrientation="portrait"/>
    </application>

</manifest>